<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verification page</title>
</head>
<body>
    <div>
        <h1>Congratulations !!</h1>
        <h3>User verified successfully</h3><br><br><br>
        <button onclick="submit()">Click here to Login</button>        
    </div>
    <script>
        const submit = ()=>{
            window.location.href = "http://localhost:9999/login";
        }
    </script>
</body>

</html>